name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  compat:
    name: Check compatibility
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 18
          - 20
          - 22
          - 24
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          cache: 'npm'
          node-version: ${{ matrix.node_version }}
      - run: npm ci --no-fund --no-audit
      - name: Run tests
        run: npm run test

  check:
    name: Code quality and coverage report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          cache: 'npm'
          node-version-file: '.node-version'
      - run: npm ci --no-fund --no-audit
      - name: Run checks
        run: npm run check:ci
      - name: Collect coverage
        run: npm run coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  release:
    name: Release
    needs:
      - check
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'friedemannsommer' && github.ref_name == 'main'
    concurrency: '${{ github.workflow }}-${{ github.ref }}'
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          cache: 'npm'
          node-version-file: '.node-version'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci --no-fund --no-audit
      - name: Create release PR or publish
        uses: changesets/action@v1.6.0
        with:
          title: 'ci(changesets): package release'
          commit: 'ci(changesets): version package'
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
